<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body onload="LoadTopBar('説明')">
    <div id="topBar">

    </div>
    <h1>使い方</h1>
    <hr>
    <ol>
        <h2>見つける</h2>
        <h2>探す</h2>
        <h2>応募</h2>
        <h2>投票</h2>
        <h2>ランキング</h2>
    </ol>
    <hr>
    <h3>見つける方法</h3>
    <p>見つけるの大学はどこ？身長や年齢・年収やCMのギャラを調べてみた
    <br>調べてみた結果分かりませんでしたこれからも活躍して欲しいですね
    <br><h3>探す方法</h3>
    <p>探す方法の大学はどこ？身長や年齢・年収やCMのギャラを調べてみた
    <br>調べてみた結果分かりませんでしたこれからも活躍して欲しいですね
    <br><h3>応募方法</h3>
    <p>応募方法の大学はどこ？身長や年齢・年収やCMのギャラを調べてみた
    <br>調べてみた結果分かりませんでしたこれからも活躍して欲しいですね
    <br><h3>投票方法</h3>
    <p>投票方法の大学はどこ？身長や年齢・年収やCMのギャラを調べてみた
    <br>調べてみた結果分かりませんでしたこれからも活躍して欲しいですね
    <br><h3>ランキングの使い方</h3>
    <p>ランキングの使い方の大学はどこ？身長や年齢・年収やCMのギャラを調べてみた
    <br>調べてみた結果分かりませんでしたこれからも活躍して欲しいですね
    <script src="staticJS/TopBarLabel.js"></script>
</body>
</html>