<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>テストレイアウト</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <header>
        <h1>タイトル</h1>
        <p>～サブタイトル～</p>
    </header>
    <main>
        <div class="a">
        <ul class="detail">
            <a href="/explain"><li>このサイトについて<br>
                <span class="detailOfLink">説明を聞いてから利用しましょう</span>
            </li></a>
            <a href="/find"><li>
                見つける<br>
                <span class="detailOfLink">先入観を捨てて利用してみましょう。</span>
            </li></a>
            <a href="/search"><li>
                探す<br>
                <span class="detailOfLink">あなたの探す人がきっとみつかる。</span>
            </li></a>
            <a href="/oubo"><li>
                応募<br>
                <span class="detailOfLink">あなたも参加してみましょう！</span>
            </li></a>
            <a href="/vote"><li>
                投票<br>
                <span class="detailOfLink">あの人を推しませんか？</span>
            </li></a>
            <a href="/rank"><li>
                ランキング<br>
                <span class="detailOfLink">>結果発表はこちらから</span>
            </li></a>
        </ul>
        </div>
    </main>
    <section class="news">
        <hr>
        <h3 class="slideBar"><a href="newsAa.com">サーバーが学校にバレました</a></h3>
        <h3 class="slideBar"><a href="newsAb.com">訴訟を起こされるかもしれません</a></h3>
        <hr>
    </section>
    <footer>
        <p>お問い合わせ</p>
        <p>説明</p>
    </footer>
    <script src="/staticJS/index_slide.js"></script>
</body>
</html>