<!DOCTYPE html>
<html>
    <head>
        <title>応募しよう！</title>
        <link rel="stylesheet" href="css/oubo.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body onload="LoadTopBar('応募')">
        <!--トップバー、メイン意外入れる予定-->
        <div  id="topBar">

        </div>
        <h1>未編集</h1>
        <script src="staticJS/TopBarLabel.js"></script>
    </body>
</html>