<!DOCTYPE html>
<html>
<meta charset="UTF-8">
    <head>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/vote.css">
        <title>美女の投票</title>
    </head>
    <body onload="LoadTopBar('投票')">
        <div  id="topBar">

        </div>
        <main>
            <h1>投票</h1>
            <p><%- messageForVote %></p>
            <form method="post" action="/vote/post">
                <ul>
                    <li>
                        <label class="vote-post">
                            人への投票
                        </label>
                        <input type="text" required="number" name="girlId">
                    </li>
                </ul>
                <button type="submit">送信</button>
            </form>
        </main>
        <script src="/staticJS/TopBarLabel.js"></script>
    </body>
</html>