body{
    display: flex;
    align-items: center;
    justify-content: center;
}
div, form{
    background-color: beige;
    box-shadow: 5px 5px 5px gray;
    height: 500px;
    padding: 50px;
    text-align: center;
    padding: 50px 150px;
}
div, form input{
    margin: 10px 0;
}
.sendButton{
    margin-top: 100px;
    width: 100%;
    background-color: orange;
}
.sendButton:hover{
    background-color: orangered;
}