main{
    background-color: beige;   
    height: 1000px; 
}
h1{
    padding: 20px 50px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
form{
    padding: 20px;
    display: block; 
}
li{
    margin-bottom: 20px;

}
button{
    margin: 20px;
}